.thing-form {
  margin: 20px 0;
}
#banner {
  border-bottom: none;
  margin-top: -20px;
}
#banner h1 {
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
}
.hero-unit {
  position: relative;
  padding: 30px 15px;
  color: #F5F5F5;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  background: #4393B9;
}
.footer {
  height: 46px !important;
  text-align: center;
  padding: 15px 0;
  margin-top: 70px;
  border-top: 1px solid #E5E5E5;
  width: 100%;
  position: absolute;
  bottom: 0;
  color: #1970c8;
  background-color: rgba(230, 237, 244, 0.72);
  opacity: 0.9;
}
.footer a {
  color: #1970c8
}
input.search{
  z-index: 0;
position: absolute;
right: 103px;
top: 4px;
width: 294px;
}
/** Custom **/

.map {
  position: absolute;
  width: 100%;
  height: 92%;
}
.form {
  position: absolute;
  width: 100%;
  height: 92%;
}
.jumbotron {
  background-color: transparent;
  height: 100%
}
.jumbotron img {
  margin: 0 auto;
}
.logo-holder {
  width: 490px;
  margin: 0 auto;
}
.search-holder {} .tagline {
  text-align: center;
  color: #fff;
  font-size: 20px;
}
.tagline i {
  font-size: 15px;
  margin-left: 20px;
  margin-right: 10px;
  color: #1b4876;
}
.navbar {
  margin-bottom: 0px;
}
html, body {
  height: 100%;
}
.full-container {
  height: 92%;
}
.angular-google-map-container, .angular-google-map {
  height: 100%;
}
