<div ng-include="'components/navbar/navbar.html'"></div>

<div class="full-container">
  <div class="map">
    <ui-gmap-google-map center='map.center' zoom='map.zoom' draggable="true" options="options">
      <ui-gmap-markers models="dummyMarks" coords="'self'" icon="'icon'"> </ui-gmap-markers>
    </ui-gmap-google-map>
  </div>
  <div class="form">
    <div class="jumbotron">
      <div class="row search-holder">
        <div class="col-md-3 pull-right">
          <div class="input-group">
            <input type="text" class="form-control" ng-autocomplete ng-model='autocomplete' details="details"/>
            <span class="input-group-btn">
              <button class="btn btn-default" type="button" ng-click="search()">
                <i class="glyphicon glyphicon-search"></i>
              </button>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<footer class="footer">
  <div class="container">
    <p>Dwellshare Inc|
    <a href="https://twitter.com/dwellshare">@dwellshare</a> |
    <a href="https://github.com/geekgugi/lonely-mountain/issues?state=open">Issues</a></p>
  </div>
</footer>
